body {
  margin: 0 auto;
  font-size: 15px;
  line-height: 22px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  height: 30px;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
  table-layout: fixed;
  word-break: break-word;
}
table td a{
  display:block;
  width:100%;
  height:100%;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 15pt;
}
.icon {
  max-height: 48px;
  vertical-align: middle;
  cursor: pointer;
}
#drawer td {
  background-color: #EEEEEE;
  height: 50px;
}

.td_15{
  width: 15%;
  text-align:center;
  padding: 10px 0px 10px 5px;
}
.td_15_t{
  width: 15%;
  text-align:center;
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 0px 9px 5px;
}
.td_15_upper{
  width: 15%;
  text-align:center;
  padding: 10px 0px 0px 5px;
}
.td_33{
  width: 33%;
  text-align:center;
  padding-top: 10px;
}
.td_33_t{
  width: 33%;
  text-align:center;
  border-bottom: 1px solid #F5F5F5;
  padding: 0px 0px 19px 0px;
}
.td_34{
  width: 34%;
  text-align:center;
  padding: 10px;
}
.td_42{.div_right {
  width: 99%;
  text-align: right;
}
  width: 42%;
  text-align:center;
}
.td_49_c{
  background-color: #F5F5F5;
  width: 49%;
  text-align:center;
  padding: 10px;
}
.td_49_t{
  width: 49%;
  text-align:center;
  padding: 0px 10px 19px 10px;
  border-bottom: 1px solid #F5F5F5;
}
.td_50{
  width: 50%;
  text-align:center;
  height: 50px;
}
.td_50_c{
  background-color: #F5F5F5;
  width: 50%;
  text-align:center;
  padding: 10px;
}
.td_50_t{
  width: 50%;
  text-align:center;
  padding: 0px 10px 19px 10px;
  border-bottom: 1px solid #F5F5F5;
}

.td_68_c{
  background-color: #F5F5F5;
  width: 68%;
  text-align:center;
  padding: 10px;
}
.td_68{
  width: 68%;
  padding: 10px;
}
.td_68_t{
  width: 68%;
  padding: 10px 10px 9px 10px;
  border-bottom: 1px solid #F5F5F5;
}
.td_84{
  width: 84%;
  padding: 10px;
}
.td_84_t{
  width: 84%;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 10px 19px 10px;
}
.td_84_upper{
  width: 84%;
  padding: 10px 10px 0px 10px;
}
.td_99{
  width: 99%;
  padding: 10px;
  word-break: break-word;
}
.td_99_t{
  width: 99%;
  padding: 20px 10px 19px 10px;
  word-break: break-word;
  border-bottom: 1px solid #F5F5F5;
}
.td_99_box{
  width: 99%;
  padding: 5px 10px 20px 10px;
  word-break: break-word;
  border-bottom: 1px solid #F5F5F5;
}
.td_99_c{
  background-color: #F5F5F5;
  width: 99%;
  text-align: center;
  padding: 10px;
}
.td_99_upper{
  width: 99%;
  padding: 10px 10px 0px 10px;
  word-break: break-word;
} 
.txt_49{
  font-size: 15px;
  height: 48px;
  width: 49%;
}
.txt_80{
  height: 48px;
  width: 80%;
}
.txt_84{
  font-size: 15px;
  height: 48px;
  width: 84%;
}
.txt_99{
  font-size: 15px;
  height: 48px;
  width: 90%;
}
.txt_long{
  height: 90px;
  width: 90%;
  font-size: 15px;
  word-break : break-all;
  padding: 20px 10px 20px 10px;
}
.img_input {
  width: 100%;
  text-align: center;
}
.input_with {
  width: 60%;
  display: inline-block;
  height: 45px;
  font-size:18px;
  border-width: 1px;
}
.txt_long_60 {
  height: 60px;
  width: 90%;
  font-size: 15px;
  word-break : break-all;
}
.td_99_icon{
  background-color: #F5F5F5;
  width: 99%;
  text-align: center;
}

.div_100_c {
  background-color: #F5F5F5;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.another_page {
  text-align: center;
  background-color: #EEEEEE;  
}
.this_page {
  text-align: center;
  background-color: #FCFCFC;
  border-color: silver;
}
.div_t {
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 10px 19px 10px;    
}
.str_cp {
  pointer-events: none;
}