body {
  width: 960px;
}
#content{
  margin: 0px 0px 0px 310px;
  width: 480px;
  float:left;
}
#menu_button{
  display: none;
}
#menu_td{
  width: 300px;
}
#head_menu {
  width: 790px;
  height: 50px;
}
#drawer {
  position : absolute;
  float : left;
  margin-top : -1px;
  width : 300px;   
  background-color: white;
}

.ad_frame_right {
  position : fixed;
  margin: 0px 0px 0px 10px; 
}
.pc_disp_none{
  display: none;
}
.right_ad{
    position:absolute;
    left:1000px;
}