#drawer {
  width: 80%;
  overflow: scroll;
  position: absolute;
  z-index: 10;
  margin: 0;
  background-color: white;
  left: -100%;
  top : 51px;
  float: left;
}
.sp_disp_none{
  display: none;
}
